* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: "Hanken Grotesk", Arial, sans-serif;
    background-color: #262626;
    color: #D9D9D9;
    padding: 20px;
    height: 100vh;
    display: flex;
    justify-content: center;
}

main {
    padding: 100px;
}

header {
    text-align: center;
}

header>h1 {
    font-size: 1.25rem;
    font-weight: 500;
    color: #F9F4DA;
}

header>p {
    font-size: 0.875rem;
    max-width: 350px;
    color: #8E8E8E;
}
.gameStatus {
    color: #F9F4DA;
    text-align: center;
    margin-block: 30px;
    padding: 3px 0;
    border-radius: 4px;
    max-width: 350px;
}
section.gameStatus.won {
    background-color: #10A95B;
}

section.gameStatus.lost {
    background-color: #BA2A2A;
}

.gameStatus p {
    margin: 5px;
}

.gameStatus h2 {
    margin: 5px;
    font-size: 1.25rem;
}

.languages {
    display: flex;
    gap: 7px;
    max-width: 350px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin-block: 30px;
}

.languages span {
    margin: 0;
    padding: 4.5px;
    border-radius: 4px;
    font-weight: 200;
}

.words {
    display: flex;
    color: rgb(255, 255, 255);
    align-items: center;
    justify-content: center;
    gap: 3px;
}

.letter {
    border-bottom: 2px solid #F9F4DA;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #323232;
    height: 40px;
    width: 40px;
}

.keyboard {
    margin-block: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 350px;
    flex-wrap: wrap;
    gap: 5px;
}

.keyLetter {
    height: 30px;
    width: 30px;
    background-color: #FCBA29;
    border-radius: 4px;
    border: 1px solid #D7D7D7;
}

button.new-game {
    background-color: #11B5E5;
    border: 1px solid #D7D7D7;
    border-radius: 4px;
    width: 225px;
    height: 40px;
    padding: 6px 12px;
    display: block;
    margin-inline: auto;
    cursor: pointer;
}

.correct {
    background-color: #10A95B;
}

.wrong {
    background-color: #EC5D49;
}

span.chip {
    border-radius: 3px;
    padding: 4.5px;
    position: relative;
}

span.chip.lost::before {
    content: "💀";
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: 100%;
    font-size: 0.85rem;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.7);
}

section.gameStatus >.farewell-message {
    background-color: #7A5EA7;
    border: 1px dashed #323232;
    font-style: italic;
    font-weight: 400;
    margin: 5px;
    color: #F9F4DA;
    text-align: center;
    padding: 30px 0;
    border-radius: 4px;
    max-width: 350px;
}
button[disabled] {
    cursor: not-allowed;
    opacity: 0.5
}